.clipboard-comparator .tree-explorer {
    width: 40%;
    height: 100%;

}
.clipboard-comparator {
    display: flex;
}

.inline {
    display: inline;
}

.clipboard-comparator .tree {
    margin: 2%;
}
