.clipboard-comparator .tree-explorer {
    /* display: inline-block; */
    width: 40%;
    height: 100%;
    margin: 0 1%;
}
.clipboard-comparator {
    display: flex;
}

.inline {
    display: inline;
}