.schema {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.dagre-d3-react .nodes {
    fill: rgba(11,31,53,.1);
}
.dagre-d3-react .nodes text {
    fill: white;
}

.dagre-d3-react path {
    stroke: black;
    fill: black;
    stroke-width: 2px;
}

.dagre-d3-react path:hover {
    stroke: #EF3124;
    fill: #EF3124;
    stroke-width: 2px;
}

/* erd start */
.erd-node {
    width: 200px;
    border: 1p solid black;
    background: #e9e9e9;
    padding: 10px;
    border-radius: 10px;

}

.erd {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid rgba(11,31,53,.1);
}

.erd-node th, .erd-node td {
    border-spacing: 0;
    vertical-align: middle;
    font-size: 18px;
}

.erd-node th {
    border-bottom: 1px solid black;
    font-size: 20px;
}

.erd-node td:hover {
    /* background: rgba(11, 31, 53, .07); */
    /* box-shadow: 0 0 40px rgba(11, 31, 53, .07); */
}

.erd .light-tip {
    position: absolute;
    width: auto;
    color:rgb(192, 192, 192);
    padding: 10px;
    font-size: 14px;
}

.react-flow__node-erdNode.selected {
    border: 2px solid #EF3124;
    border-radius: 10px;
}

.react-flow__edge.selected .react-flow__edge-path {
    stroke:#EF3124;
}
  /* erd end */