.schema {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* .control-button {
    display: inline-block;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    height: 100%;
} */

.dagre-d3-react .nodes {
    fill: rgba(11,31,53,.1);
}
.dagre-d3-react .nodes text {
    fill: white;
}

.dagre-d3-react path {
    stroke: black;
    fill: black;
    stroke-width: 1.5px;
}

/* erd start */
.erd-node {
    width: 200px;
    border: 1p solid black;
}

.erd {
    width: 100%;
    height: 100%;
    display: block;
    /* border: 1px solid rgba(11,31,53,.1); */
}

.schema-description {
    align-content: center;
}

.control-buttons .description-block {
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
    border: 1px solid rgba(11,31,53,.1);
    /* box-shadow: 0 6px 14px rgb(11 31 53 / 15%); */
}

.description-block img {
    height: 20px;
    margin-left: 5px;
    right: 0;
}

.description-block img:hover {
    background-color: rgba(11,31,53,.1);
    box-shadow: 0 0 .5px 1.5px rgba(11,31,53,.1);
    border-radius: 100%;
    transition-duration: 200ms;
    transition-property: background, border-color;
    transition-timing-function: ease;
}

.schema-name {
    display: flex;
        /* justify-content: center; */
    align-content: center;
}


.erd-node th, .erd-node td {
    border-spacing: 0;
    vertical-align: middle;
    font-size: 15px;
}

.erd-node th {
    border-bottom: 1px solid black;
}

.erd-node:hover {
    background: rgba(11, 31, 53, .07);
    box-shadow: 0 0 40px rgba(11, 31, 53, .07);
}

.description-block img {
    height: 20px;
}

.node-about {
    border: 1px solid rgba(11,31,53,.1);
    padding: 5px 15px 5px 15px;
}

.description-block .description-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.control-buttons .button-gray {
    margin-top: 10px;
}

/* .node-properties {
    position:fixed;
    overflow: auto;
    display: inline-block;
    width: 20%;
    height: 100%;
} */

  /* erd end */