.DS_Store
.gradle
.project
/.settings
/build/
/node_modules/
classes
!gradle/wrapper/gradle-wrapper.jar
package-lock.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Local configuration file (sdk path, etc)
local.properties
.properties