.DS_Store
.gradle
.project
.classpath
/build/
/.settings
classes
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Local configuration file (sdk path, etc)
local.properties
.properties