.property-view {
    background-color: #FFFFFF;
    border: 1px solid rgba(11,31,53,.1);
    /* height: 100%; */
    padding: 2em;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    box-shadow:0 6px 14px rgba(11,31,53,.15);
}


.property-view .field {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.property-view .field .name {
    width: 20%;
    font-weight: 400;
}

.property-view .field .value {
    word-wrap: break-word; 
    width: 80%;
    font-weight: 300;
}

.property-view h2 {
    margin-top:0;
}

