.property-view {
    background-color: #FFFFFF;
    border: 1px solid rgba(11,31,53,.1);
    /* height: 100%; */
    padding: 2em;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    box-shadow:0 6px 14px rgba(11,31,53,.15);
}


.property-view .field {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.property-view .field .name {
    width: 20%;
    font-weight: 400;
}

.property-view .field .value {
    word-wrap: break-word; 
    width: 80%;
    font-weight: 300;
}

.property-view h2 {
    margin-top:0;
}

.property-view img {
    
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.property-view img:hover {
    background-color: rgba(11,31,53,.1);
    box-shadow: 0 0 .5px 1.5px rgba(11,31,53,.1);
    transition-duration: 200ms;
    transition-property: background, border-color;
    transition-timing-function: ease;
}
