
.model-explorer {
    display: block;
}
.model-explorer .model-schema {
    display: inline-block;

    width: 60%;
}

.model-explorer .model-panel {
    display: inline-block;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    width: 25%;
    height: 100%;
}

.model-explorer .model-list {
    display: inline-block;
    height: 100%;
    width: 15%;
    vertical-align: top;
}

